{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<h1>SLMS</h1>
<p>Employee Leave Management Tracker</p>
<form method="Post">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username" id="" required>
    <label>Password</label>
    <input type="password" name="password" id="" required>
    <button type="submit">Login</button>
</form>
<p>Don't have an account?<a href="{% url 'register' %}">Register</a></p>
<p><a href="{% url 'home' %}">Back to Home</a></p>

<body>

</body>

</html>